<!-- footer.nunjucks -->
<div class="footer-container">

  <!-- START Interchangeable Newsletter Area - Switched on and off via the backend logic -->

  {% include "subscribe.html" %}

  <!-- END Interchangeable Newsletter Area -->

  <footer class="footer container-fluid">

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="footer-logo">
            <a href="#">
              <img src="assets/logo-inverted.png" />
            </a>
          </div>
          <div class="footer-details">
            <div class="footer-details__phone-number">
              <div class="footer-details__icon">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </div>
              <div class="footer-details__text"> 03 5223 34 53</div>
            </div>
            <div class="footer-details__address">
              <div class="footer-details__icon">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </div>
              <div class="footer-details__text">
                <span>Office Address</span>
                <p>Harrison Place, Level 2, 237 Ryrie Street
                Geelong Vic 3220</p>
              </div>
            </div>
            <div class="footer-details__address">
              <div class="footer-details__icon">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </div>
              <div class="footer-details__text">
                <span>Postal Address</span>
                <p>P.O. Box 4233, Geelong Vic 3220</p>
              </div>
            </div>
          </div>
          <div class="social-links social-links--has-border-top">
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-8">
          <div class="footer-links  hide-for-mobile">
            <ul>
              <li>
                <a href="#">
                  About
                </a>
              </li>
              <li>
                <a href="#">
                  Finance
                </a>
              </li>
              <li>
                <a href="#">
                  Investment
                </a>
              </li>
              <li>
                <a href="#">
                  Community
                </a>
              </li>
              <li>
                <a href="#">
                  Contact Us
                </a>
              </li>
              <li>
                <a href="#">
                  Login
                </a>
              </li>
            </ul>
          </div>
          <div class="footer-extras">
            <div class="footer-extras__item hide-for-mobile">
              <span class="footer-extras__title">Twitter Feed</span>
              <div class="twitter-feed js-twitter-feed">

                <div class="twitter-feed__tweet">
                  <div class="twitter-feed__icon">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </div>
                  <div class="twitter-feed__text">
                    <a href="#">@morris</a> Less than 30 minutes until the mountain comes alive, who will be the 2017 #Bathurst1000 Champion? #BornForThis #community #MFL2017 #VASC
                    <span class="twitter-feed__timestamp">
                      5 mins only
                    </span>
                  </div>
                </div>

                <div class="twitter-feed__tweet">
                  <div class="twitter-feed__icon">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </div>
                  <div class="twitter-feed__text">
                    Less than 30 minutes to go
                    <span class="twitter-feed__timestamp">
                      5 mins only
                    </span>
                  </div>
                </div>

              </div>
            </div>

            <div class="footer-extras__item">
              <span class="footer-extras__title">Associations</span>
              <div class="footer-associations">

                <div class="footer-assocations__item">
                  <a href="#">
                    <img src="assets/associations/AAMC@2x.png" />
                  </a>
                </div>
                <div class="footer-assocations__item">
                  <a href="#">
                    <img src="assets/associations/APRA@2x.png" />
                  </a>
                </div>
                <div class="footer-assocations__item">
                  <a href="#">
                    <img src="assets/associations/ASIC@2x.png" />
                  </a>
                </div>
                <div class="footer-assocations__item">
                  <a href="#">
                    <img src="assets/associations/CAFBA@2x.png" />
                  </a>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    <div class="footer-bottom-bar">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="footer-bottom-bar__copyright">
              &copy; 2017 Morris Finance Ltd. All rights reserved.
            </div>
          </div>
          <div class="col-md-7">
            <ul class="footer-bottom-bar__sub-links">
              <li>
                <a href="#">
                  ACL No.395249
                </a>
              </li>
              <li>
                <a href="#">
                  Privacy Policy
                </a>
              </li>
              <li>
                <a href="#">
                  Terms and Conditions
                </a>
              </li>
              <li>
                <a href="#">
                  ABN 70 083 630 139
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </footer>

</div>