<!-- layout.hero-links -->
<div class="hero-links hero-links--has-background d-flex">
  <div class="hero-links__item">
    <div class="hero-links__content">
      <h3>Finance</h3>
      <p>Text</p>
      <a class="cta-link cta-link--sml" href="#">Discover More <i class="fa fa-long-arrow-right"></i></a>
    </div>
  </div>
  <div class="hero-links__item">
    <div class="hero-links__content">
      <h3>Finance</h3>
      <p>Text</p>
      <a class="cta-link cta-link--sml" href="#">Discover More <i class="fa fa-long-arrow-right"></i></a>
    </div>
  </div>
  <div class="hero-links__item">
    <div class="hero-links__content">
      <h3>Finance</h3>
      <p>Text</p>
      <a class="cta-link cta-link--sml" href="#">Discover More <i class="fa fa-long-arrow-right"></i></a>
    </div>
  </div>
</div>