<!-- layout.hero-carousel -->
<div class="hero">

  <div class="hero__initial-logo is-hidden hide-for-mobile js-initial-logo">
    <div class="container">
    <img src="./assets/logo-inverted.png" class="" width="369" alt="Morris Finance">
    </div>
  </div>
  <div id="carouselHeroIndicators" class="hero-carousel carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <h1 class="carousel-item__heading">"Your success <br/>is <span class="hero-carousel__alt-color">our business</span>"</h1>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <h1 class="carousel-item__heading">"Some text <span class="hero-carousel__alt-color">alt text</span>"</h1>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <h1 class="carousel-item__heading">"Some text <span class="hero-carousel__alt-color">alt text</span>"</h1>
        </div>
      </div>
    </div>
    <div class="hero-carousel__footer hide-for-mobile">
      <div class="container">
        <div class="hero-carousel__find-out-more">
          <a href="#" class="cta-link cta-link--lrg">Find out more <i class="fa fa-long-arrow-right"></i></a>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#carouselHeroIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselHeroIndicators" data-slide-to="1"></li>
          <li data-target="#carouselHeroIndicators" data-slide-to="2"></li>
        </ol>
      </div>
    </div>
  </div>

  <!-- layout.hero-links -->
  <div class="hero-links d-flex">
    <div class="hero-links__item">
      <div class="hero-links__content">
        <h3>Finance</h3>
        <p>Cerunt. Nam et, totat odist hictur? Qui officidestis quiae persperis et, coriasit eum dolorum aut qui omnimpel iur.</p>
        <a class="cta-link cta-link--sml" href="#">Discover More <i class="fa fa-long-arrow-right"></i></a>
      </div>
    </div>
    <div class="hero-links__item">
      <div class="hero-links__content">
        <h3>Investment</h3>
        <p>Cerunt. Nam et, totat odist hictur? Qui officidestis quiae persperis et, coriasit eum dolorum aut qui omnimpel iur.</p>
        <a class="cta-link cta-link--sml" href="#">Discover More <i class="fa fa-long-arrow-right"></i></a>
      </div>
    </div>
    <div class="hero-links__item hero-links__item--alt-color">
      <div class="hero-links__content">
        <h3>Community</h3>
        <p>Cerunt. Nam et, totat odist hictur? Qui officidestis quiae persperis et, coriasit eum dolorum aut qui omnimpel iur.</p>
        <a class="cta-link cta-link--sml" href="#">Discover More <i class="fa fa-long-arrow-right"></i></a>
      </div>
    </div>
  </div>

  <div class="hero-scroll-content hide-for-mobile js-hero-scroll-content">
    <i class="fa fa-long-arrow-down"></i>
  </div>

</div>