<!-- layout.hero-carousel -->
<div class="hero">

  <div id="carouselHeroIndicators" class="hero-carousel carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h1>Some text <span class="hero-carousel__alt-color">alt text</span></h1>
      </div>
      <div class="carousel-item">
        <h1>Some Text 2</h1>
      </div>
      <div class="carousel-item">
        <h1>Some Text 3</h1>
      </div>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#carouselHeroIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselHeroIndicators" data-slide-to="1"></li>
      <li data-target="#carouselHeroIndicators" data-slide-to="2"></li>
    </ol>
  </div>

  <div class="hero-links d-flex">
    <div class="hero-links__item">
      <h3>Finance</h3>
      <p>Text</p>
      <a class="cta-link cta-link--sml" href="#">Discover More <i class="fa fa-long-arrow-right"></i></a>
    </div>
    <div class="hero-links__item">
      <h3>Finance</h3>
      <p>Text</p>
      <a class="cta-link cta-link--sml" href="#">Discover More <i class="fa fa-long-arrow-right"></i></a>
    </div>
    <div class="hero-links__item">
      <h3>Finance</h3>
      <p>Text</p>
      <a class="cta-link cta-link--sml" href="#">Discover More <i class="fa fa-long-arrow-right"></i></a>
    </div>
  </div>

</div>