<!-- layout.icon-slider -->
<div class="icon-slider-container">
  <div class="container container--has-padding-top">
    <div class="row">
      <div class="col-md-12">
        <h2>Our <span class="accent-color">community</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        &nbsp;
      </div>
      <div class="col-md-10">
        <h5>We are pleased to be associated with some of the following organisations, teams and events:</h5>
      </div>
    </div>

    <div class="icon-slider owl-carousel owl-theme d-flex align-items-center">

      <div class="icon-slider__logo">
        <img src="assets/community/community-bbl@2x.png" />
      </div>
      <div class="icon-slider__logo">
        <img src="assets/community/community-geelong@2x.png" />
      </div>
      <div class="icon-slider__logo">
        <img src="assets/community/community-mobil@2x.png" />
      </div>
      <div class="icon-slider__logo">
        <img src="assets/community/community-seagulls@2x.png" />
      </div>
      <div class="icon-slider__logo">
        <img src="assets/community/community-werribee@2x.png" />
      </div>
      <div class="icon-slider__logo">
        <img src="assets/community/community-bbl@2x.png" />
      </div>

    </div>
  </div>
</div>