<!-- layout.icon-slider -->
<div class="icon-slider-container container">
  <div class="row">
    <h2>Our <br/><span class="accent-color">community</span></h2>
  </div>
  <div class="row">
    <div class="col">
      &nbsp;
    </div>
    <div class="col-10">
      <h4>We are pleased to be associated with some of the following organisations, teams and events:</h4>
    </div>
  </div>

  <div class="icon-slider owl-carousel owl-theme d-flex align-items-center">

    <div class="icon-slider__logo">
      <img src="assets/community/community-bbl@2x.png" />
    </div>
    <div class="icon-slider__logo">
      <img src="assets/community/community-geelong@2x.png" />
    </div>
    <div class="icon-slider__logo">
      <img src="assets/community/community-mobil@2x.png" />
    </div>
    <div class="icon-slider__logo">
      <img src="assets/community/community-seagulls@2x.png" />
    </div>
    <div class="icon-slider__logo">
      <img src="assets/community/community-werribee@2x.png" />
    </div>
    <div class="icon-slider__logo">
      <img src="assets/community/community-bbl@2x.png" />
    </div>

  </div>
</div>