<!-- subscribe.nunjucks -->
<div class="subscribe-to-newsletter">
  <div class="container">
    <h4 class="subscribe-to-newsletter__heading">Subscribe to our <span class="accent-color">newsletter</span></h4>
    <form>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputName" aria-describedby="subscribe" placeholder="Please fill in your email">
          </div>
        </div>
        <div class="col-sm-4">
          <button type="submit" class="m-button">Subscribe <i class="fa fa-long-arrow-right"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>