<div class="tabs container-fluid container--alt-bg">

  <ul class="tabs__navigation container js-tabs">
    <li class="tabs__link tabs__current" data-tab="tab-1">
      <div class="tabs__link-img tabs__link-img--sml">
        <img class="" src="./assets/icons/icon-business.svg" />
      </div>
      Business Car Finance
    </li>
    <li class="tabs__link" data-tab="tab-2">
      <div class="tabs__link-img">
        <img class="" src="./assets/icons/icon-capital.svg" />
      </div>
      Capital Raising
    </li>
    <li class="tabs__link" data-tab="tab-3">
      <div class="tabs__link-img">
        <img class="" src="./assets/icons/icon-commercial.svg" />
      </div>
      Commercial Equipment Finance
    </li>
    <li class="tabs__link" data-tab="tab-4">
      <div class="tabs__link-img">
        <img class="" src="./assets/icons/icon-vehicle.svg" />
      </div>
      Commercial Vehicle Finance
    </li>
    <li class="tabs__link" data-tab="tab-5">
      <div class="tabs__link-img">
        <img class="" src="./assets/icons/icon-agriculture.svg" />
      </div>
      Agribusiness Finance
    </li>
    <li class="tabs__link" data-tab="tab-6">
      <div class="tabs__link-img">
        <img class="" src="./assets/icons/icon-heavy.svg" />
      </div>
      Heavy Vehicle Finance
    </li>
  </ul>

  <div class="tabs__content-container">

    <div class="container">

      <div id="tab-1" class="tabs__content tabs__current">
        <div class="tabs__content-row row align-items-top">
          <div class="col-md-5 col-md-push-5">
            <h4>Business Car<br/> Finance</h4>
            <p>We provide finance for new and used vehicles from all the popular manufacturers. As long as the vehicles we finance are used for commercial purposes, it doesn’t matter what age, make or model you choose.</p>
            <a href="#" class="cta-link cta-link--sml">Discover More <i class="fa fa-long-arrow-right"></i></a>
          </div>
          <div class="col-md-7 col-md-pull-7">
            <img src="assets/car.jpg" width="100%" />
          </div>
        </div>
      </div>
      <div id="tab-2" class="tabs__content">
        <p>We provide finance for new and used vehicles from all the popular manufacturers. As long as the vehicles we finance are used for commercial purposes, it doesn’t matter what age, make or model you choose.</p>
      </div>
      <div id="tab-3" class="tabs__content">
        <p>We provide finance for new and used vehicles from all the popular manufacturers. As long as the vehicles we finance are used for commercial purposes, it doesn’t matter what age, make or model you choose.</p>
      </div>
      <div id="tab-4" class="tabs__content">
        <p>We provide finance for new and used vehicles from all the popular manufacturers. As long as the vehicles we finance are used for commercial purposes, it doesn’t matter what age, make or model you choose.</p>
      </div>
      <div id="tab-5" class="tabs__content">
        <p>We provide finance for new and used vehicles from all the popular manufacturers. As long as the vehicles we finance are used for commercial purposes, it doesn’t matter what age, make or model you choose.</p>
      </div>
      <div id="tab-6" class="tabs__content">
        <p>We provide finance for new and used vehicles from all the popular manufacturers. As long as the vehicles we finance are used for commercial purposes, it doesn’t matter what age, make or model you choose.</p>
      </div>

    </div>
  </div>

</div><!-- container -->