<!-- testimonial-carousel.nunjucks -->
<div class="testimonial">

  <div id="carouselExampleIndicators" class="testimonial-carousel carousel slide" data-ride="carousel" data-interval="10000">
    <div class="testimonial__container container">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <blockquote class="testimonial__blockquote">
            <h5>Ximi, veliquam fuga. Nemqui cullabo. Et arum facernatur, con rehenda erestissint et, sum, conet verum volectat doleni untio eum ium quid mi, quibusa sit et laut fugia simpos ressenis et, corunt, to optatur. Natas conestr uptassunt, optatur, a is il ipis volutate res quat minctem sin corest expla doluptatia voluptati con rersperibus sequiasi dolorum nim eume parcipiciae vercil iunt voluptur."</h5>
            <div class="testimonial__author">
              <div class="testimonial__company">
                SixTwo Creative
              </div>
            </div>
          </blockquote>
        </div>
        <div class="carousel-item">
          <blockquote class="testimonial__blockquote">
            <h5>Ximi, veliquam fuga. Nemqui cullabo. Et arum facernatur, con rehenda erestissint et, sum, conet verum volectat doleni untio eum ium quid mi, quibusa sit et laut fugia simpos ressenis et, corunt, to optatur. Natas conestr uptassunt, optatur, a is il ipis volutate res quat minctem sin corest expla doluptatia voluptati con rersperibus sequiasi dolorum nim eume parcipiciae vercil iunt voluptur."</h5>
            <div class="testimonial__author">
              <div class="testimonial__company">
                SixTwo Creative
              </div>
            </div>
          </blockquote>
        </div>
        <div class="carousel-item">
          <blockquote class="testimonial__blockquote">
            <h5>Ximi, veliquam fuga. Nemqui cullabo. Et arum facernatur, con rehenda erestissint et, sum, conet verum volectat doleni untio eum ium quid mi, quibusa sit et laut fugia simpos ressenis et, corunt, to optatur. Natas conestr uptassunt, optatur, a is il ipis volutate res quat minctem sin corest expla doluptatia voluptati con rersperibus sequiasi dolorum nim eume parcipiciae vercil iunt voluptur."</h5>
            <div class="testimonial__author">
              <div class="testimonial__company">
                SixTwo Creative
              </div>
            </div>
          </blockquote>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
    </div>
  </div>
</div>