{% extends "layout.html" %}

{% block content %}

{% include "../partials/header.html" %}

<div class="container-fluid">
  <div class="hero-heading hero-heading--community">
    <div class="container">
      <h1 class="carousel-item__heading">Commited to the<br/> <span class="hero-carousel__alt-color">community</span></h1>
    </div>
  </div>
  <div class="container content">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <h4>We believe it’s one thing to do business within a community and another to give back and participate. By giving back to the community, people in the local area are supported, fostering a stronger and more meaningful relationship.</h4>
        <p>Morris Finance has created multiple programs to connect, support and enable people in the community.  Sport is an important part of the fabric of the community, where people can socialise and increase their health and fitness.</p>
        <p>Through Sporting Ambassadors, we are sharing the message of excellence, health and fitness. </p>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="container-fluid container--alt-bg container--has-padding-top container--has-padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>We are proud to have shared the <span class="accent-color">sporting journey</span> with the following people:</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <div class="image-grid container--has-padding-bottom container--has-padding-top">
            <div class="image-grid__item">
              <div class="image-grid__overlay">
                <h5 class="image-grid__name">Tom Hawkins</h5>
                <p class="image-grid__description">AFL Footballer</p>
              </div>
              <img class="image-grid__image" src="./assets/image-grid-example.png" />
            </div>
            <div class="image-grid__item">
              <div class="image-grid__overlay">
                <h5 class="image-grid__name">Tom Hawkins</h5>
                <p class="image-grid__description">AFL Footballer</p>
              </div>
              <img class="image-grid__image" src="./assets/image-grid-example.png" />
            </div>
            <div class="image-grid__item">
              <div class="image-grid__overlay">
                <h5 class="image-grid__name">Tom Hawkins</h5>
                <p class="image-grid__description">AFL Footballer</p>
              </div>
              <img class="image-grid__image" src="./assets/image-grid-example.png" />
            </div>
            <div class="image-grid__item">
              <div class="image-grid__overlay">
                <h5 class="image-grid__name">Tom Hawkins</h5>
                <p class="image-grid__description">AFL Footballer</p>
              </div>
              <img class="image-grid__image" src="./assets/image-grid-example.png" />
            </div>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </div>
  <div class="container content">
    <div class="row">
      <div class="col-md-12">
        <h4>Morris Finance are also extremely pleased to be <span class="accent-color">associated</span> with the following organisations and teams:</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <img src="./assets/partners.png" width="100%" />
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </div>

  <div class="container-fluid container--alt-bg container--has-padding-top container--has-padding-bottom">
    <div class="container content">
      <div class="row">
        <div class="col-md-12">
          <h2>Morris Finance has a continuing <span class="accent-color">commitment</span> to serving in the <span class="accent-color">community.</span></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
        <p><strong>If you would like further information on any of our accreditations or training programs, please <a href="#">contact us</a> today.</strong></p>
        </div>
      </div>
    </div>
  </div>

</div>
{% include "../partials/footer.html" %}

{% endblock %}