{% extends "layout.html" %}

{% block content %}

{% include "../partials/header.html" %}

{% set hidesubscribe = true %}

<div class="container-fluid">
  <div class="hero-heading hero-heading--finance">
    <div class="container">
      <h1 class="carousel-item__heading">Equipment finance<br/> and <span class="hero-carousel__alt-color">solution</span></h1>
    </div>
  </div>
  <div class="container content">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <h4>Whether you need to acquire new equipment, pre-loved existing or use assets you currently own to generate working capital for your business, Morris Finance can help with cost effective and strategically structured business finance facilities.</h4>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>


  {% include "tabs.html" %}

  {% include "icon-slider.html" %}

</div>
{% include "../partials/footer.html" %}

{% endblock %}