{% extends "layout.html" %}

{% block content %}

{% include "../partials/header.html" %}

{% set hidesubscribe = true %}

<div class="container-fluid">
  <div class="hero-heading hero-heading--finance">
    <div class="container">
      <h1 class="carousel-item__heading">Business Car<br/> <span class="hero-carousel__alt-color">Finance</span></h1>
    </div>
  </div>
  <div class="container content">
    <div class="row">
      <div class="col-md-2">
        <div class="icon-thumbnail hide-for-mobile">
          <img src="../assets/icons/icon-business.svg" />
        </div>
      </div>
      <div class="col-md-8">
        <h4>You know the provision of business vehicle finance is about so much more than handling your business finance needs. </h4>
        <p>It’s about being educated on how to approach every aspect of the lending facility – like taking advantage of interest, deductions and maximising the benefit to the business through clever debt structure, the net result is you are in a stronger position.</p>
         <p>Morris Finance draws on 19 years in business experience and a national broker and new business specialists network in helping businesses of all shapes and sizes to get the very best value on their asset finance, chattel mortgage, leasing or novated leasing facilities – and we will work closely with you to find the most viable solution for your business.</p>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="h2--line-break">We offer great <span class="accent-color">rates</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-10">
        <p>Offering some of the most competitive financing rates available, we will help you identify the most suitable asset finance, chattel mortgage, hire purchase or leasing facilities for your business.</p>
        <p>We provide finance for new and used vehicles from all the popular manufacturers. As long as the vehicles we finance are used for commercial purposes, it doesn’t matter what age, make or model you choose.</p>
          <p>Our experienced business vehicle finance specialists will determine the value of the vehicle via our in-house systems to give you peace of mind the vehicle you are buying is correctly priced. We will also help you choose the best car lease or chattel mortgage facility for your needs and budget. </p>
        <p class="secondary-color" style="color: #808081;"><strong>If you’re planning on financing a car, <a href="#">contact us</a> today.</strong></p>
      </div>
    </div>
  </div>

  <div class="finance-pagination__container container--alt-bg">
    <div class="finance-pagination container">
      <a href="#" class="finance-pagination__item current">
        <div class="finance-pagination__image-container">
        <img class="finance-pagination__image" src="./assets/icons/icon-business.svg" />
        </div>
        <span>Business Car Finance</span>
      </a>
      <a href="#" class="finance-pagination__item">
        <div class="finance-pagination__image-container">
        <img class="finance-pagination__image" src="./assets/icons/icon-capital.svg" />
        </div>
        <span>Capital Raising</span>
      </a>
      <a href="#" class="finance-pagination__item">
        <div class="finance-pagination__image-container">
        <img class="finance-pagination__image" src="./assets/icons/icon-commercial.svg" />
        </div>
        <span>Commercial Equipment Finance</span>
      </a>
      <a href="#" class="finance-pagination__item">
        <div class="finance-pagination__image-container">
        <img class="finance-pagination__image" src="./assets/icons/icon-vehicle.svg" />
        </div>
        <span>Commercial Vehicle Finance</span>
      </a>
      <a href="#" class="finance-pagination__item">
        <div class="finance-pagination__image-container">
        <img class="finance-pagination__image" src="./assets/icons/icon-agriculture.svg" />
        </div>
        <span>Agribusiness Finance</span>
      </a>
      <a href="#" class="finance-pagination__item">
        <div class="finance-pagination__image-container">
        <img class="finance-pagination__image" src="./assets/icons/icon-heavy.svg" />
        </div>
        <span>Heavy Vehicle Finance</span>
      </a>

    </div>
  </div>

</div>

{% include "../partials/footer.html" %}

{% endblock %}