{% extends "layout.html" %}

{% block content %}

{% include "../partials/header.html" %}

<div class="container-fluid">
  <div class="hero-heading hero-heading--investment">
    <div class="container">
      <h1 class="carousel-item__heading">Earn <span class="hero-carousel__alt-color">competitive</span> rates<br/> in the current market</h1>
    </div>
  </div>
  <div class="container content">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <h4>Our team has been financing and investing in a number of industries over the past 19 years and are recognised as one of Australia’s leading and most reputable finance, leasing and risk management companies.</h4>
        <p>At Morris Finance we provide investors with a safe and less speculative cash only investment to help you balance your portfolio.</p>
        <p>Current market rates on offer:</p>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="container-fluid container--alt-bg container--has-padding-top container--has-padding-bottom">
    <div class="container d-flex align-items-center justify-content-center">
      <img src="./assets/investment-stats.svg" width="90%" />
    </div>
  </div>
  <div class="container content">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-10">
        <p>Special conditions apply, with minimum Investment of $500,000.00. This Investment offer is made to sophisticated investors under section 708 of the Corporations Act. Our investment objective is to diversify our funding mix.</p>
        <p>Trust in Morris Finance comes with the peace of mind of knowing that our journey began in 1998 and our impressive track record includes: </p>

        <ul>
          <li>The Board of Directors having significant experience across accounting, compliance, finance, law, lending, regulation and taxation.</li>
          <li>Our professional and knowledgeable staff have assessed over $1 billion in new loan applications over the past five years, whilst settling in excess of 15,000 facilities since inception.</li>
          <li>Increased profits in each consecutive year since inception.</li>
          <li>Total assets under management have increased by an average of 16.66% per financial year from June 2011 to June 2017.</li>
          <li>MFL Board of Directors predict a continuation of its record of solid financial performance throughout the ensuing financial year, with measured growth consistent with F17.</li>
          <li>Our annual financial statements are audited by Deloitte Touché Tohmatsu Limited and we also undergo quarterly credit risk compliance testing provided by QED Risk Services, as per ASIC requirements. </li>
        </ul>
        <p class="secondary-color" style="#808080;"><strong><a href="#">Contact us</a> today to learn more about our investment options.</strong></p>
      </div>
    </div>
  </div>

  {% include "../partials/testimonial-carousel.html" %}
  {% include "../partials/icon-slider.html" %}

</div>
{% include "../partials/footer.html" %}

{% endblock %}