<!-- header.top-bar-search.nunjucks -->
<div class="top-bar-search">
  <div class="container">
    <form>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <input type="search" class="form-control" id="exampleInputName" aria-describedby="search" placeholder="Search">
          </div>
        </div>
        <div class="col-sm-4">
          <button type="submit" class="m-button">Submit <i class="fa fa-long-arrow-right"></i></button>
        </div>
      </div>
    </form>

  </div>
</div>