<!-- header.top-bar-contact.nunjucks -->
<div class="top-bar-contact">
  <div class="container">
    <h4>Contact us</h4>

    <div class="row">
      <div class="col-sm top-bar-contact__col">
        <span class="top-bar-contact__number">
          <i class="fa fa-phone" aria-hidden="true"></i> 03 5223 34 53
        </span>
        <span class="top-bar-contact__opening">
          <i class="fa fa-clock-o" aria-hidden="true"></i> Monday - Friday, 8:30am - 5:00pm
        </span>
      </div>
      <div class="col-sm top-bar-contact__col">
        <span class="top-bar-contact__heading">
          <i class="fa fa-map-marker" aria-hidden="true"></i> OFFICE ADDRESS
        </span>
        <span class="top-bar-contact__info">
          Harrison Place, Level 2, 237 Ryrie Street<br/> Geelong Vic 3220
        </span>
      </div>
      <div class="col-sm top-bar-contact__col">
        <span class="top-bar-contact__heading">
          <i class="fa fa-envelope" aria-hidden="true"></i> POSTAL ADDRESS
        </span>
        <span class="top-bar-contact__info">P.O. Box 4233, Geelong Vic 3220
        </span>
      </div>
      <div class="col-sm top-bar-contact__col">
        <a href="/contact.html" class="cta-link cta-link--lrg">View More <i class="fa fa-long-arrow-right"></i></a>
      </div>
    </div>

  </div>
</div>