//Common Carousel Styling

.carousel-indicators {
  li {
    cursor: pointer;
    height: 5px;
    background-color: $secondary-color;
    &.active {
      background-color: $accent-color;
    }
  }
}

//Hero Carousel

.carousel-item__heading {
  font-size: 36px;
  line-height: 38px;
  font-weight: 700;
  z-index: 10;
  position: absolute;
  bottom: 320px;
  @include media-breakpoint-up(md) {
    font-size: 54px;
    line-height: 60px;
    bottom: 300px;
  }
  @media only screen and (max-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
    bottom: 250px;
  }
}

.hero {
  background: url('../assets/slider-mobile@2x.png');
  background-size: cover;
  @include media-breakpoint-down(md) {
    @media screen and (orientation: portrait) {
      height: calc(100vh);
    }
  }
  @include media-breakpoint-up(md) {
    height: 100vh;
    background: url('../assets/slider@2x.png');
  }
  background-size: cover;
  color: #FFFFFF;
  .is-ios & {
    @include media-breakpoint-down(md) {
      @media screen and (orientation: portrait) {
        height: calc(100vh - 75px);
      }
    }
    @media only screen and (max-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
      height: calc(100vh - 67px);
    }
  }
}

.carousel-caption {
  left: 0;
  right: auto;
  text-align: left;
  bottom: 300px;
  width: 100%;
}

.carousel-item__image {
  background-size: contain;
  width: 100%;
  height: 100%;
}

.hero-carousel {
  .carousel-item {
    &:before {
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.6;
      content: '';
      z-index: 1;
      position: absolute;
    }
    @include media-breakpoint-down(sm) {
      @media screen and (orientation: landscape) {
        display: none !important;
      }
    }
  }
}

.carousel-item {
  background-size: cover;
  height: 100%;
}

.hero-carousel {
  height: calc(100vh);
  @include media-breakpoint-up(md) {
    height: calc(100vh);
  }
  .is-ios & {
    @media screen and (orientation: portrait) {
      height: calc(100vh - 75px);
    }
    @media only screen and (max-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
      height: calc(100vh - 67px);
    }
  }
  color: #D5D6D5;
  background-color:rgba(0, 0, 0, 0.7);
  position: relative;
  .carousel-inner {
    bottom: 0;
    height: 100vh;
    //margin: 0 16px;
    @include media-breakpoint-up(md) {
      bottom: 0;
      margin: 0;
    }
    position: absolute;
  }
}



.hero-carousel__alt-color {
  color: $accent-color;
}

.hero-scroll-content {
  height: 7%;
  background: #FFFFFF;
  color: $dark-grey;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hero-carousel__footer {
  position: absolute;
  width: 100%;
  bottom: 269px;
  display: flex;
  @include media-breakpoint-up(md) {
    width: 100%;
    padding-right: 30px;
  }
  @include media-breakpoint-up(lg) {
    padding-right: 0;
  }
  .container {
    display: flex;
    flex-direction:row;
  }
  .carousel-indicators {
    position: static;
    align-items: center;
    padding:0;
    margin:0;
    @include media-breakpoint-up(md) {
      left: auto;
    }
  }
}

.hero-carousel__find-out-more {
  position: absolute;
  bottom: 260px;
  z-index: 10;
  @include media-breakpoint-up(md) {
    margin: 0;
  }
}

//Testimonial Carousel

.testimonial {
  background: url('../assets/slider@2x.png');
  background-size: cover;
  color: #FFFFFF;
  background-position: center left;
}

.testimonial-carousel {
  color: #CCCDCB;
  min-height: 340px;
  @include media-breakpoint-up(md) {
    height: 340px;
  }
  background-color:rgba(0, 0, 0, 0.7);
  @include media-breakpoint-down(md) {
    padding: ($layout-vertical-spacing/2) 0;
  }
  .carousel-inner {
    overflow: visible;
    margin-bottom: $layout-vertical-spacing;
    @include media-breakpoint-up(md) {
      overflow: hidden;
      flex: 1;
      margin-bottom: 0;
    }
  }
  .carousel-indicators {
    position: static;
    margin-right: 0;
    margin-left: 0;
    @include media-breakpoint-up(md) {
      align-self: flex-end;
    }
  }
  h5 {
    color: $light-grey;
    @include media-breakpoint-down(md) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: flex;
    align-items: center;
  }
}

.testomonial-carousel__alt-color {
  color: $accent-color;
}

.testimonial__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  @include media-breakpoint-up(md) {
    flex-direction: row;
    padding-top: 0;
  }
}

.testimonial__blockquote {
  position: relative;
  width: 80%;
  margin: 0 auto;
  @include media-breakpoint-down(md) {
    width: 100%;
    padding: 0 16px;
  }
  &:before {
    content: '';
    left: 16px;
    top: -40px;
    position: absolute;
    width: 39px;
    height: 39px;
    background: url('../assets/blockquote@2x.png') no-repeat;
    background-size: contain;
    @include media-breakpoint-up(md) {
      left: -70px;
      top: 4px;
    }
  }
  @include media-breakpoint-down(md) {
    h5 {
      font-size: 16px;
      line-height: 22px
    }
  }
}

.testimonial__name {
  color: $accent-color;
  font-size: 20px;
}
