//Common Carousel Styling

.carousel-indicators {
  li {
    cursor: pointer;
    height: 5px;
    background-color: $secondary-color;
    &.active {
      background-color: $accent-color;
    }
  }
}

//Hero Carousel

.hero {
  @include media-breakpoint-up(md) {
    height: 100vh;
  }
  background: url('../assets/slider@2x.png');
  background-size: cover;
  color: #FFFFFF;
}

.hero-carousel {
  @include media-breakpoint-up(md) {
    height: 65%;
  }
  height:400px;
  color: #D5D6D5;
  background-color:rgba(0, 0, 0, 0.7);
  position: relative;
  .carousel-inner {
    bottom: 20px;
    @include media-breakpoint-up(md) {
      bottom: 100px;
    }
    position: absolute;
  }
}

.hero-carousel__alt-color {
  color: $accent-color;
}

.hero-scroll-content {
  height: 7%;
  background: #FFFFFF;
  color: $dark-grey;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hero-carousel__footer {
  position: absolute;
  width: 100%;
  bottom: 45px;
  .container {
    display: flex;
    flex-direction:row;
  }
  .carousel-indicators {
    position: static;
    padding:0;
    margin:0;
  }
}

.hero-carousel__find-out-more {
  flex: 1;
}

//Testimonial Carousel

.testimonial {
  background: url('../assets/slider@2x.png');
  background-size: cover;
  color: #FFFFFF;
  background-position: center left;
}

.testimonial-carousel {
  display: flex;
  align-items: center;
  color: #CCCDCB;
  min-height: 435px;
  background-color:rgba(0, 0, 0, 0.7);
  .carousel-inner {
    overflow: visible;
    margin-bottom: $layout-vertical-spacing;
    @include media-breakpoint-up(md) {
      overflow: hidden;
      flex: 1;
      margin-bottom: 0;
    }
  }
  .carousel-indicators {
    position: static;
    margin-right: 0;
    margin-left: 0;
    @include media-breakpoint-up(md) {
      align-self: flex-end;
    }
  }
}

.testomonial-carousel__alt-color {
  color: $accent-color;
}

.testimonial__container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  @include media-breakpoint-up(md) {
    flex-direction: row;
    paddin-top: 0;
  }
}

.testimonial__blockquote {
  position: relative;
  width: 80%;
  margin: 0 auto;
  &:before {
    content: '';
    left: 0;
    top: -40px;
    position: absolute;
    width: 39px;
    height: 39px;
    background: url('../assets/blockquote@2x.png') no-repeat;
    background-size: contain;
    @include media-breakpoint-up(md) {
      left: -70px;
      top: 10px;
    }
  }
}

.testimonial__name {
  color: $accent-color;
  font-size: 20px;
}
