.form-control {
  border-radius: 0;
  opacity: 0.7;
  font-size: 12px;
  padding: 0.675rem 0.75rem;
  &:focus {
    border: 1px solid $accent-color;
    box-shadow: 0 0 0 0.2rem lighten($accent-color, 15%);
  }
}

.form-text {
  margin-top: 0.55rem;
}

