body {
  background: #FFFFFF;
  font-family: $font-family-morris-finance;
  font-size: $font-size-default;
  color: $primary-color;
}

ul {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0;
}

.homepage-heading {
  h2 {
    color: #6C6D6D;
  }
}

.is-visible {
  display: block;
  visibility: visible;
}

.is-hidden {
  display: none;
  visibility: hidden;
}