// Header and Naviation

.header {
  @include media-breakpoint-up(md) {
    position: fixed;
    z-index: 9999;
    opacity: 0.98;
  }
}

.navbar {
  .container {
    @include media-breakpoint-down(md) {
      align-items: flex-start;
    }
  }
  padding: 0.9rem 1rem;
  align-items: flex-start;
  top: 0;
  height: 70px;
  width: 100%;
  position: fixed;
  background-color: #FFFFFF;
  transition: 0.2s ease;
  z-index:1000;
  &.mobile-navigation-active {
    height: 100%;
    overflow: scroll;
    background-color:rgba(235, 235, 235, 0.95) !important;
    .navbar-logo {
      &.navbar-logo--inverted {
        background: url('../assets/logo.png');
        background-size: 100% 100%;
      }
    }
    .mobile-navigation-footer {
      display: flex;
    }
  }
  &.navbar-up {
    top: -100px;
    transition: 0.3s ease;
  }
  @include media-breakpoint-up(md) {
    height: 95px;
    align-items: center;
    top: 40px;
    background-color: #FFFFFF;
    position: fixed;
  }
  @include media-breakpoint-up(lg) {
    padding: 0;
  }
  &.invert-navigation {
    background-color: transparent;
    .toggle-mobile-menu {
      .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        background-color: #FFFFFF;
      }
      &.is-active {
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
          background-color: #000000;
        }
      }
    }
  }
}

.navbar-nav {
  height: 100%;
}

.navbar__menu {
  font-size: 13px;
  @include media-breakpoint-up(md) {
    height: 100%;
    font-size: 12px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }
}

.sub-menu {
  @include media-breakpoint-up(md) {
    background: #ebebeb;
  }
  color: $secondary-color;
  .nav-item {
    a {
      color: $secondary-color;
    }
  }
}

.mobile-navigation-active {
  .mobile-navigation-tools {
    padding: 16px 1rem 0;
  }
  .navbar-logo {
    margin: 20px 1rem 0;
  }
  padding: 0;
  .navbar__menu {
    .nav-item {
      border-bottom: 1px solid $light-grey;
      padding: 0;
      &.nav-dropdown-menu-icons {
        .sub-menu {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
        .nav-item__has-icon {
          width: 50%;
          float: left;
        }
      }
      &.nav-dropdown-menu-icons > .sub-menu,
      > .sub-menu {
        display: none;
        list-style: none;
        background: lighten(#ebebeb, 5%);
        padding: 20px 0;
        font-size: 14px;
        float: left;
        width: 100%;
        height: 100%;
      }
      .nav-link {
        padding: 10px 20px;
      }
      > .nav-link {
        padding: 20px 20px;
        text-transform: uppercase;
      }
      &.nav-dropdown-menu {
        position: relative;
        &:after {
          transition: 0.3s ease;
          content: '';
          background: url('../assets/arrow-right.svg');
          background-size: 100%;
          width: 7px;
           right: 20px;
          top: 19px;
          position: absolute;
          height: 11px;
        }
        &.is-active {
          &:after {
            transform: rotate(90deg);
          }
        }
      }

    }
  }
}

.navbar-brand {
  width: 184px;
  height: 40px;
  @include media-breakpoint-down(xs) {
    width: 150px;
    height: 33px;
    margin-top: 4px;
  }
}

.mobile-navigation-tools {
  display: flex;
  align-items: center;
  .mobile-navigation-call {
    margin-top: 0px;
    height: 32px;
    width: 32px;
    font-size: 26px;
  }
}

.hamburger {
  padding: 10px 0 0px 5px;
}

.toggle-mobile-menu {
  &:focus {
    outline: none;
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #000000;
  }
  &.is-active {
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      background-color: #000000;
    }
  }
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #FFFFFF;
}

.navbar-logo {
  background: url('../assets/logo.png');
  background-size: 100% 100%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  transition: 0s;
  &.navbar-logo--inverted {
    background: url('../assets/logo-inverted.png');
    background-size: 100% 100%;
  }
}

.nav-item__icon {
  margin-right: 10px;
  background: $light-grey;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  img {
    width: 70%;
  }
  @include media-breakpoint-up(md) {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    flex: 0 0 60px;
  }
}

@include media-breakpoint-up(md) {

  .navbar-brand {
    width: 280px;
    height: 60px;
  }

  .nav-item {
    transition: 0.3s ease;
    border-bottom: 5px solid #FFFFFF;
    &:hover,
    &.current {
      .nav-link {
        color: $accent-color;
      }
      border-bottom: 5px solid $accent-color;
      .sub-menu {
        .nav-link {
          color: $secondary-color;
          text-transform: none;
        }
      }
    }
  }

  .nav-item__has-icon {
    font-size: 18px;
  }

  .nav-dropdown-menu {
    .sub-menu {
      min-height: 200px;
      list-style: none;
      flex-wrap: wrap;
      display: flex;
      padding: 20px $layout-spacing;
      left: 0;
      visibility: hidden;
      margin-top: 5px;
      width: 100vw;
      position: absolute;
      margin-left: calc(-50vw + 50%);
      font-size: 18px;
      text-transform: none;
    }
    .sub-menu li {
      flex: 0 0 25%;
      width: 25%;
      margin: 20px 0;
    }
    &:hover {
      .sub-menu {
        visibility: visible;
        animation: fadein 0.3s linear;
      }
    }
  }

  .navbar-nav {
    overflow: hidden;
  }
  .navbar-nav .nav-link {
    padding-right: 0.4rem;
    padding-left: 0.4rem;
    font-weight: 700;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
}


@include media-breakpoint-up(lg) {

  .nav-item {
    margin-left: 10px;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.mobile-navigation-footer {
  display: none;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  align-self: flex-end;
}

.mobile-navigation-footer__contact {
  display: flex;
  align-items: center;
}

.mobile-navigation-footer__call {
  flex: 1;
  font-size: 1rem;
}

.mobile-navigation-footer__social {
  display: flex;
  justify-content: center;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  font-size: 26px;
  padding: 20px 0;
  margin: 20px 0;
  a {
    color: $secondary-color;
  }
  ul {
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-around;
  }
}

.nav-link {
  display: flex;
  align-items: center;
  height: 100%;
  line-height: 100%;
  vertical-align: middle;
  color: $primary-color;
  transition: color 0.3s ease;
  @include media-breakpoint-up(md) {
    text-transform: uppercase;
  }
}