.hero-links {
  z-index: 2;
  &.hero-links--carousel {
    position: absolute;
    bottom: 0;
    .hero-links__item:nth-child(1) {
      background-color:rgba(255, 255, 255, 0.25);
    }
    .hero-links__item:nth-child(2) {
      background-color:rgba(255, 255, 255, 0.4);
    }
    .hero-links__item:nth-child(3) {
      background-color:rgba(255, 255, 255, 0.8);
    }
  }
  color: #FFFFFF;
  width: 100%;
  &--has-min-height {
    min-height: 300px;
  }
  &--has-background {
    background: url('../assets/slider@2x.png');
    background-size: cover;
    background-position-y: 60%;
  }
  &--has-border-top {
    border-top: 3px solid $accent-color;
    @include media-breakpoint-up(md) {
      border-top: 5px solid $accent-color;
    }
  }
  &.hero-links--fill-to-height {
    //height: 35%;
  }
  @include media-breakpoint-up(md) {
    height: 230px;
  }
  flex-direction:column;
  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
  .hero-links__item {
    @include media-breakpoint-up(md) {
      flex: 1;
    }
    @include media-breakpoint-down(sm) {
      height: 100px;
    }
  }
  .hero-links__item:nth-child(1) {
    background-color:rgba(0, 0, 0, 0.6);
  }
  .hero-links__item:nth-child(2) {
    background-color:rgba(0, 0, 0, 0.4);
  }
  .hero-links__item:nth-child(3) {
    background-color:rgba(255, 255, 255, 0.6);
  }
}

.hero-links__item {
  padding: 10px 16px;
  display: flex;
  align-items: flex-end;
  @include media-breakpoint-up(md) {
    padding: 0 45px 25px;
  }
  &--alt-color {
    color: $secondary-color;
  }
  p {
    margin-bottom: 10px;
  }
}
.hero-links__content {
  width: 100%;
  h3 {
    font-weight: 300;
  }  
  @include media-breakpoint-down(md) {
    p {
      display: none;
    }
  }

}

@media only screen and (max-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
  .hero-links .hero-links__item {
    height: 80px;
  }
  .hero-links__item h3 {
    font-size: 20px;
    margin-bottom: .25rem
  }
}