.icon-slider-container {
  background: $alternate-bg;
  padding-bottom: 50px;
}
.icon-slider {

  padding: 20px 30px;

  .icon-slider__logo {
    img {
      width: 40%;
      @include media-breakpoint-up(lg) {
        width: 40%;
      }
      margin: 0 auto;
    }
  }

  .owl-stage {
    display: flex;
    align-items: center;
  }


  .owl-nav {
    .owl-prev,
    .owl-next {
      height: 20px;
      width: 12px;
      text-indent: -9999px;
      position: absolute;
      &.disabled {
        opacity: 0.2;
      }
    }
    .owl-prev {
      background: url('../assets/arrow-left.svg');
      left: 0;
    }
    .owl-next {
      background: url('../assets/arrow-right.svg');
    }
  }
}
