.image-grid {
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
  justify-content: space-between;
  flex-wrap: wrap;
  h5 {

  }
}

.image-grid__item {
  position: relative;
  margin-bottom: 20px;
  @include media-breakpoint-up(md) {
    margin-bottom: 30px;
    flex: 0 0 48%;
    width: 48%;
  }

  &:hover {
    .image-grid__overlay {
      height: 100%;
    }
  }
}

.image-grid__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $accent-color;
  opacity: 0.9;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .3s ease;
  flex-direction: column;
}

.image-grid__description {
  color: #FFFFFF;
}

.image-grid__name,
.image-grid__description {
  clear: both;
  margin-bottom: 0;
}

.image-grid__image {
  width: 100%;
}