.container-fluid {
  padding: 0;
}

.container {
  max-width: 1100px;
}

.container--has-padding-top {
  padding-top: $layout-vertical-spacing;
}

.container--has-padding-bottom {
  padding-bottom: $layout-vertical-spacing;
}

.hero-heading {
  height: 277px;
  position: relative;
  background-size: cover;
  color: #FFFFFF;
  border-bottom: 5px solid $accent-color;
  background: url('../assets/slider@2x.png');
  &--about {
    @include image-2x(url('../assets/headers/heading-about@2x.png'),
            left bottom,
            no-repeat,
            cover,
            url('../assets/headers/heading-about@1x.png'));
  }
  &--associations {
    @include image-2x(url('../assets/headers/heading-associations@2x.png'),
            left top,
            no-repeat,
            cover,
            url('../assets/headers/heading-associations@1x.png'));
  }
  &--finance {
    @include image-2x(url('../assets/headers/heading-finance@2x.png'),
            left top,
            no-repeat,
            cover,
            url('../assets/headers/heading-finance@1x.png'));
  }
  &--investment {
    @include image-2x(url('../assets/headers/heading-investment@2x.png'),
            left top,
            no-repeat,
            cover,
            url('../assets/headers/heading-investment@1x.png'));
  }
  &--community {
    @include image-2x(url('../assets/headers/heading-community@2x.png'),
            left top,
            no-repeat,
            cover,
            url('../assets/headers/heading-community@1x.png'));
  }
  &--contact {
    @include image-2x(url('../assets/headers/heading-contact@2x.png'),
            left top,
            no-repeat,
            cover,
            url('../assets/headers/heading-contact@1x.png'));
  }
  &:before {
    height:100%;
    width: 100%;
    left: 0;
    top: 0;
    content: '';
    background-color:rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 0;
  }
  h1 {
    position: absolute;
    z-index: 1;
    bottom: 25px;
  }
  @include media-breakpoint-up(md) {
    height: 435px;
    h1 {

    }
  }
}

.finance-pagination__container {
  padding: $layout-vertical-spacing 0;
}

.finance-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
  color: $accent-color;
  text-align: center;
}

.finance-pagination__item {
  padding: 30px 10px 10px;
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  height: 120px;
  @include media-breakpoint-up(md) {
    height: 158px;
  }
  @include media-breakpoint-up(lg) {
    height: 170px;
  }
  @include media-breakpoint-down(md) {
    width: 100%;
  }
  &.current {
    background: $lighter-grey;
    box-shadow: 0 0px 10px 0 #AAAAAA;
  }
}

.finance-pagination__image {
  max-height: 50px;
  margin-bottom: 10px;
}