//Dependencies
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../node_modules/owl.carousel/src/scss/owl.carousel.scss';
@import 'vendor/font-awesome-4.7.0/scss/font-awesome.scss';

$hamburger-layer-width: 30px;
$hamburger-layer-height: 4px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-border-radius: 0;
@import '../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';

//Globals
@import 'mixins';
@import 'variables';
@import 'global.scss';
@import 'typography';
@import 'buttons';
@import 'forms';

//Pages
@import 'blog';

//Sections
@import 'top-bar.scss';
@import 'header.scss';
@import 'layout.scss';
@import 'content.scss';
@import 'footer.scss';

//Components
@import 'carousel';
@import 'icon-slider';
@import 'tabs';