h1 {
  font-size: 36px;
  line-height: floor(36px * 1.1);
}

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: floor(30px * 1.1);
  color: $heading-text-color;
  &.h2--line-break {
    padding-top: 30px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: floor(24px * 1.1);
}

h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: floor(30px * 1.1);
}

h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: floor(18px * 1.1);
}

@include media-breakpoint-up(md) {
  h1 {
    font-size: 54px;
    line-height: 60px;
  }

  h2 {
    font-size: 42px;
    line-height: 46px;
    color: $heading-text-color;
    margin-bottom: $layout-font-vertical-spacing;
  }

  h3 {
    font-size: 34px;
    line-height: 38px;
  }

  h4 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: $layout-font-vertical-spacing;
  }

  h5 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: $layout-font-vertical-spacing;
  }
}

a {
  color: $accent-color;
  transition: 0.3s ease;
  text-decoration: none;
  &:hover {
    color: darken($accent-color, 10%);
    text-decoration: none;
  }
}

p {
  margin-bottom: 10px;
}

.secondary-color {
  color: $secondary-color;
}

.accent-color {
  color: $accent-color;
}

.cta-link {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  &--sml {
    font-size: 14px;
  }
  &--lrg {
    font-size: 16px;
  }
}

.t--is-bold {
  font-weight: 500;
}